<!DOCTYPE html>
<!-- {% load static %} -->
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>HomePage</title>
    <!-- <link rel="stylesheet" href="{% static "my_app/css/mystyle.css" %}"/> -->
  </head>
  <body>
    <div class = "container">
      <div class = "jumbotron">
      <h1>HI welcome to my page</h1>
      <h2>Add /users in url</h2>
      <a href="{% url 'admin:index' %}">Click to goto Admin</a>
      <br/>
      <a href="{% url 'appTwo:users' %}">Click to goto users page for signup</a>
    </div>
  </div>

  </body>
</html>
